h1 {
  color: var(--fg);
  font-family: "Xanh Mono", serif;
  font-size: 168px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

h2 {
  color: var(--fg);
  font-family: "Space Mono", sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}
h3 {
  font-family: "Space Mono", sans-serif;
  font-size: 32px;
  margin: 0;
  font-weight: 400;
  color: var(--fg);
  @media screen and (max-width: 1025px) {
    font-size: 24px;
    @media screen and (max-height: 500px) {
      font-size: 18px;
    }
  }
  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
  @media screen and (max-width: 400px) and (max-height: 750px) {
    font-size: 16px;
  }
}
p,
li,
label,
input {
  color: var(--fg);
  font-family: "Space Mono", sans-serif;
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  @media screen and (max-width: 769px) {
    font-size: 10px;
  }
}
p.large {
  font-size: 16px;
  @media screen and (max-width: 769px) {
    font-size: 12px;
  }
}
.justify {
  text-align: justify;
}
p,
h1,
h2,
h3 {
  cursor: default;
  transition: color var(--color-transition) ease-in-out;
}
p.pointer,
h1.pointer,
h2.pointer,
h3.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.page-title {
  margin-bottom: -10px;
  width: max-content;
  font-style: italic;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--fg-mb);
  @media screen and (max-width: 1090px) {
    font-size: calc(100vw / 7);
  }
}
.page-subtitle {
  font-style: italic;
  font-weight: bold;
}
.page-subtitle-brackets {
  color: var(--brutal-red);
  font-style: italic;
  font-weight: bold;
}

.services-home {
  text-align: right;
  font-size: 12px;
}

.mix-blend-diff {
  color: var(--fg-mb);
  mix-blend-mode: difference;
}

.light {
  color: var(--brutal-light);
}

.gradient-text-p {
  display: flex;
  flex-wrap: wrap;
}

.gradient-text-span {
  margin-right: 12px;
  position: relative;

  .gradient-text-shadow {
    position: absolute;
    opacity: 0.3;
  }
}

.link {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
  transition: color var(--color-transition) ease-in-out;
  z-index: 2;
}

.fg {
  color: var(--fg);
}

.bg {
  color: var(--bg);
}

path {
  transition: stroke var(--color-transition) ease-in-out;
}
svg {
  transition: fill var(--color-transition) ease-in-out;
}

label {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.form-span {
  min-width: 5px;
  max-width: 400px;
  text-wrap: wrap;
  word-break: break-all;
  height: max-content;
  display: inline-block; /* Changed from flex to inline-block */
  border: none;
  outline: none;
  cursor: text;
  white-space: pre-wrap; /* Preserves whitespace and wraps text */

  &:empty::before {
    content: attr(aria-placeholder);
    color: var(--fg);
    pointer-events: none;
    opacity: 0.7;
    border-bottom: 1px solid var(--fg);
  }

  &:focus {
    border-bottom: none;
  }
}

span[contentEditable="true"] {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  @media screen and (max-width: 600px) {
    font-size: 12px;
    margin-bottom: 2px;
  }
}

.form-button {
  padding: 2px 10px;
  border: 1px solid var(--fg);
  border-radius: 999px;
  background-color: transparent;
  width: max-content;
  height: min-content;
  cursor: pointer;
  & > p {
    white-space: nowrap;
    pointer-events: none;
  }
}

.form-enter-button {
  padding: 2px 10px;
  border: none;
  background-color: transparent;
  width: max-content;
  height: min-content;
  & > p {
    white-space: nowrap;
  }
}

.services-home-h2 {
  font-size: 140px;
  @media screen and (max-width: 1570px) {
    font-size: 96px;
  }
  @media screen and (max-width: 1270px) {
    font-size: 140px;
  }
  @media screen and (max-width: 700px) {
    font-size: 96px;
  }
}
