h1 {
  color: var(--fg);
  font-family: "Xanh Mono", serif;
  font-size: 168px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}
h2 {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 40px;
  margin: 0;
  font-weight: 400;
}
h3 {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 32px;
  margin: 0;
  font-weight: 400;
}
p, li {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
p.small {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
}
p.large {
  font-size: 20px;
}
.justify {
  text-align: justify;
}
p,
h1,
h2,
h3 {
  cursor: default;
  transition: color var(--color-transition) ease-in-out;
}
p.pointer,
h1.pointer,
h2.pointer,
h3.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.page-title {
  position: absolute;
  top: 10%;
  left: 20px;
  width: max-content;
  font-style: italic;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--brutal-mb-light);
}

.mix-blend-diff {
  color: var(--brutal-mb-light);
  mix-blend-mode: difference;
}

.light {
  color: var(--brutal-light);
}

.gradient-text-p {
  display: flex;
  flex-wrap: wrap;
}

.gradient-text-span {
  margin-right: 12px;
  position: relative;

  .gradient-text-shadow {
    position: absolute;
    opacity: 0.1;
  }
}

.link {
  color: var(--fg);
  font-family: "Space Mono";
  font-size: 16px;
  margin: 0;
  font-weight: 400;
  text-decoration: none;
}