:root {
    --brutal-dark: #322f2e;
    --brutal-light: #C3BBB6;
    --brutal-mb-light: #f2ebe3;
    --brutal-red: #710000;
    --bh-light: #eddfd8;
    --bh-mb-light: #b9b2af;
    --bh-red: #9A4034;
    --absurd-red: #C11616;
    --absurd-white: #FAECEC;

    --fg-mb: var(--bh-mb-light);
    --bg: var(--brutal-light);
    --fg: var(--brutal-dark);
    --color-transition: 0.2s
}