:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: light-dark(var(--light-bg), var(--dark-bg));
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

path,
circle {
  stroke: light-dark(var(--light-fg), var(--dark-fg));
  fill: light-dark(var(--light-bg), var(--dark-bg));
}
path.approachSVG {
  fill: light-dark(var(--light-fg), var(--dark-fg));
  stroke: none;
}
* {
  color-scheme: light dark;
  transition: background var(--transition-duration),
    color var(--transition-duration), fill var(--transition-duration),
    stroke var(--transition-duration), border-color var(--transition-duration);
}
