:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--bg);
  transition: background var(--color-transition) ease-in-out;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;

}

body {
  margin: 0;
  padding: 0;

}
